.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.not-found-container h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #1e1e1e;
}

.not-found-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.home-button {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #1e1e1e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}
